﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MoneyTransfer.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["h2_cabinet"]</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Localizer["Id"]
                </th>
                <th>
                    @Localizer["TransactionDate"]
                    
                </th>
                <th>
                    @Localizer["Summ"]
                    
                </th>
                <th>
                    @Localizer["UserForm"]
                    
                </th>
                <th>
                    @Localizer["UserTo"]
                    
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transactions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserForm.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTo.AccountNumber)
            </td>
        </tr>
}
    </tbody>
</table>
