﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MoneyTransfer.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Localizer["Index"]</h2>
<div>
    <h4>@Localizer["balance"] @Model.User.Account.AccountBalance</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-action="Transaction" asp-controller="User" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["acc_num"]</label>
                <input name="accountNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["acc_sum"]</label>
                <input name="summ" class="form-control" />
                @*<select asp-for="CompanyId" asp-items="@ViewBag.Companies">
                        <option selected="selected" disabled="disabled">Все</option>
                    </select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["btn"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
