﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["transfer"]</h2>
<h2>Сумма средств на вашем балансе меньше чем вы хотите перевести!</h2>

