﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Localizer["com"]</h2>
<div class="row">
    <div class="col-md-3">
        <form asp-action="AddToBalance" asp-controller="User" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["acc_num"]</label>
                <input name="accountNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["acc_sum"]</label>
                <input name="summ" class="form-control" />
                @*<select asp-for="CompanyId" asp-items="@ViewBag.Companies">
                        <option selected="selected" disabled="disabled">Все</option>
                    </select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["btn_1"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
